<%- include("partials/header.ejs") %>

<div class="sidebar">
    <p>Generate your next character</p>

    <form action="/submit" method="POST">
        <input type="submit" value="Generate">
    </form>
</div>

<% if (locals.character) { %>

<div class="content">
    <p> You should play a <%= character.race %> <%= character.class %>.</p>
</div>

<% } %>

<%- include("partials/footer.ejs") %>